body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea,
input {
  font-family: 'Fira Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toast-progress-dark {
  background: rgb(187 186 186) !important;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem auto;
  text-decoration: underline;
  width: fit-content;
}
