:root {
  --blue-900: #004a79;
  --disabled: #857e7e;
  --green-300: #022f2a; 
  --green-900: #1e9c1e;
  --orange-900: #ff8c1a;
  --red-700: #cf1224;
  --red-900: #660812;
  --yellow-900: #d8a711;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

textarea,
input {
  font-family: 'Fira Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toast-progress-dark {
  background: rgb(187 186 186) !important;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem auto;
  text-decoration: underline;
  width: fit-content;
}
